<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <!-- Tab 3  -->
      My Cart <!-- I don't understand why doesn't change the header title with this -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Cart</ion-title> <!-- ... but the title changes with this ?? it shouldn't works here ... -->
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
